{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}

<section class="articles">

    <h1>Produits</h1>

    {% for article in articles %}
        <article>
            <h2>{{ article.title }}</h2>
            <div class="metadata"><h3>Description du produit</h3>
                <img src="{{ article.image }}" alt="">
                {{ article.content | raw }}
                {{ article.price | raw }}
                <a href="{{ path ('shop_product', {'id' : article.id}) }}" class="btn btn-primary">Voir le produit</a>
                <hr>
            </div>
        </article>
    {% endfor %}

</section>

{% endblock %}