{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}

    <section>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Description du produit</div>
            <img src="{{ article.image }}" alt="Text">
            {{ article.content | raw }}
            {{ article.price | raw }}
            <a href="{{ path ('shop_cart') }}" class="btn btn-primary">Ajouter au panier</a>
            <hr>

        </div>
    </section>

{% endblock %}